<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
</head>
<body>
<!--/*@thymesVar id="service" type="com.crm.cico.model.ServiceItem"*/-->
<!--/*@thymesVar id="service" type="com.crm.cico.model.ServiceCategory"*/-->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>List of Services</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-group" id="accordion" th:each="cat, iter: ${categories}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" th:href="'#collapse' + ${iter.index}" th:text="${cat.name}">
                                            Collapsible Group 1</a>
                                    </div>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse"th:id="'collapse' + ${iter.index}">
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="item: ${cat.services}" th:text="${item.name}">One</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>